<section class="lui-section lui-section-hero lui-gradient-top" id="started-section">
    <div class="container">
        
        <!-- Hero Started -->
        <div class="lui-started v-line v-line-left">
            <div class="section hero-started">
                <div class="content scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <div class="titles">
                        <div class="lui-subtitle">
                            <span> Hello, <b>my name is</b>
                            </span>
                        </div>
                        <h1 class="title splitting-text-anim-1 scroll-animate" 
                            data-animate="active">
                            <span>
                                <b>Hitesh</b> Padhara
                              </span>
                        </h1>
                        <div class="label lui-subtitle"> I am <strong>Full Stack Developer</strong>
                        </div>
                    </div>
                    <div class="description">
                        <div>
                            <p>As a full-stack developer, I have a strong foundation in both front-end and back-end
                                technologies. I am well-equipped to handle a wide range of development tasks, from
                                designing user interfaces to building robust server-side applications. My expertise
                                allows me to create seamless, end-to-end solutions for various projects.</p>
                        </div>
                        <div class="social-links">
                            <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/hitesh-padhara/">
                                <i aria-hidden="true" class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="bts">
                        <a target="_blank" href="https://drive.google.com/" class="btn">
                            <span>Download CV</span>
                        </a>
                        <a href="#skills-section" class="btn-lnk"> My Skills </a>
                    </div> 
                </div>
                <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
                    <img decoding="async" src="assets/images/p41.png" alt="&lt;b&gt;Zoé&lt;/b&gt; Miller">
                    <span class="circle circle-1"></span>
                    <span class="circle img-1" style="background-image: url(assets/images/pat-1.png);"></span>
                    <span class="circle img-2" style="background-image: url(assets/images/pat-2.png);"></span>
                    <span class="circle img-3" style="background-image: url(assets/images/pat-2.png);"></span>
                    <div class="info-list">
                        <ul>
                            <li>
                                <span class="num">8 <strong>+</strong>
                                </span>
                                <span class="value">Years of <strong>Experience</strong>
                                </span>
                            </li>
                            <li>
                                <span class="num">16 <strong>+</strong></span>
                                <span class="value">Completed <strong>Projects</strong>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>