<section class="lui-section lui-gradient-bottom" id="services-section">

    <!-- Heading -->
    <div class="lui-bgtitle">
        <span> Services </span>
    </div>
    <div class="lui-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words"
                    data-animate="active">
                    <span> What I Do </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words"
                    data-animate="active">
                    <span> my <b>Services</b> </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div class="v-line v-line-right">
        <div class="container">
            <div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="services-item">
                            <div class="lui-subtitle">
                                <span> Web Development </span>
                            </div>
                            <div class="icon"></div>
                            <h5 class="lui-title">
                                <span> Crafting Dynamic and Scalable Web Solutions </span>
                            </h5>
                            <div class="lui-text">
                                <div> Elevate your online presence with our top-notch web development services. We
                                    specialize in creating bespoke websites tailored to your unique business needs.
                                    Our team of experienced developers utilizes the latest technologies to deliver
                                    dynamic and scalable web solutions. From custom web applications to e-commerce
                                    platforms, we bring your digital vision to life. </div>
                            </div>

                            <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-item">
                            <div class="lui-subtitle">
                                <span> Web Design </span>
                            </div>
                            <div class="icon"></div>
                            <h5 class="lui-title">
                                <span> Engaging User Experiences through Creative Design </span>
                            </h5>
                            <div class="lui-text">
                                <div>
                                    <p>First impressions matter. Our web design services focus on creating visually
                                        stunning and user-friendly interfaces that captivate your audience. We blend
                                        creativity with functionality to ensure seamless navigation and optimal user
                                        experience. Whether you need a brand-new design or a refreshing update,
                                        we're here to make your website stand out in the digital landscape.
                                    </p>
                                </div>
                            </div>

                            <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-item">
                            <div class="lui-subtitle">
                                <span> Server Management </span>
                            </div>
                            <div class="icon"></div>
                            <h5 class="lui-title">
                                <span> Ensuring Reliability and Performance of Your Digital Infrastructure </span>
                            </h5>
                            <div class="lui-text">
                                <div> Rely on us for seamless online operations. Our comprehensive server management
                                    covers setup, configuration, monitoring, and maintenance. We streamline server
                                    tasks, guaranteeing peak performance for your website and applications. With our
                                    expertise, you can concentrate on business growth, leaving the technical details
                                    to us.
                                </div>
                            </div>

                            <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services-item">
                            <div class="lui-subtitle">
                                <span> Web Testing </span>
                            </div>
                            <div class="icon"></div>
                            <h5 class="lui-title">
                                <span> Rigorous Testing for Seamless User Experience </span>
                            </h5>
                            <div class="lui-text">
                                <div> Quality assurance is paramount in today's digital landscape. Our web testing
                                    services ensure that your website or application functions flawlessly across
                                    different devices and browsers. We conduct thorough testing to identify and
                                    resolve any potential issues, guaranteeing a seamless user experience. From
                                    functionality tests to performance optimization, we leave no stone unturned in
                                    delivering a top-notch product.
                                </div>
                            </div>

                            <div class="image" style="background-image: url(assets/images/pat-2.png);"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

</section>