<!-- Section - Resume -->
<section class="lui-section lui-gradient-bottom" id="resume-section">
    <div class="lui-bgtitle">
        <span> History </span>
    </div>
    <!-- Heading -->
    <div class="lui-heading">
        <div class="container">

            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words"
                    data-animate="active">
                    <span> Resume </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words"
                    data-animate="active">
                    <span> my <b>Story</b>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <!-- History -->
    <div class="v-line v-line-left">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <h5 class="history-title scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <span> Experience </span>
                    </h5>
                    <div class="history-items">
                        <div class="history-item lui-collapse-item opened scrolla-element-anim-1 scroll-animate"
                            data-animate="active">
                            <h6 class="name lui-collapse-btn active">
                                <span> Sr. Full Stack Developer </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Sabio.inc (Los Angeles, California, US) </span>
                                </div>
                                <div class="date lui-subtitle">
                                    <span> 2022 - <b>Present</b>
                                    </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>I bring 2+ year of experience in the exciting worldof advertising
                                            technology. Ispecialize ni building and maintaining high-performance web
                                            applications, from designing and implementing elegant user interfaces ot
                                            developing robust back-end systems that power our clients' campaigns.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate"
                            data-animate="active">
                            <h6 class="name lui-collapse-btn">
                                <span> Team Leader </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Alita Infotech Pvt. Ltd </span>
                                </div>
                                <div class="date lui-subtitle">
                                    <span> 2020 - 2022 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>As a team leader in ful stack development, Ihave experience in handling
                                            projects using Laravel, Codelgniter, Node.js, and Vue.js. Ihave also ben
                                            responsible for creating REST APSI, CMS projects, atending client
                                            meetings, and managing my team members.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate"
                            data-animate="active">
                            <h6 class="name lui-collapse-btn">
                                <span> Sr. Web Developer </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Dynamic Dreamz </span>
                                </div>
                                <div class="date lui-subtitle">
                                    <span> 2019 - 2020 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>Innovative, task-driven professional experience ni web design and
                                            development across diverse industries. Equipped with arecord of success
                                            ni consistently identifying and providing the technological needs of
                                            companies through ingenious innovation. Proficient ni developing
                                            databases, creating user interfaces, writing and testing codes,
                                            troubleshooting simple/complex issues, and implementing new features
                                            based on user feedback.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate"
                            data-animate="active">
                            <h6 class="name lui-collapse-btn">
                                <span> Web Developer </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> Nestcode Infotech </span>
                                </div>
                                <div class="date lui-subtitle">
                                    <span> 2016 - 2019 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>I have started my development career with Nestcode Infotech, Ihave learn
                                            so many things like stucture of code,database design,relationship
                                            management etc. Created 5+ web applications for company projects. Kep
                                            the web develop updated on the overall progress of the projects and
                                            manage the tasks distributed ot the team.Keep the code and the features
                                            implemented by the other developers ni accordance to the requirements.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <h5 class="history-title scrolla-element-anim-1 scroll-animate" data-animate="active">
                        <span> Education </span>
                    </h5>
                    <div class="history-items">

                        <div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate"
                            data-animate="active">
                            <h6 class="name lui-collapse-btn">
                                <span> Master Degree </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> IT Student </span>
                                </div>
                                <div class="date lui-subtitle">
                                    <span> 2016 - 2018 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p>I hold a Master's degree in Computer Applications (MCA) with a
                                            specialization in Information Technology. My expertise lies in PHP,
                                            HTML, CSS, and JavaScript. These skills have enabled me to excel in
                                            developing dynamic web applications and creating user-friendly
                                            interfaces.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="history-item lui-collapse-item  scrolla-element-anim-1 scroll-animate"
                            data-animate="active">
                            <h6 class="name lui-collapse-btn active">
                                <span> Bachelor Degree </span>
                            </h6>
                            <div class="history-content">
                                <div class="subname">
                                    <span> IT Student </span>
                                </div>
                                <div class="date lui-subtitle">
                                    <span> 2014 - 2016 </span>
                                </div>
                                <div class="text">
                                    <div>
                                        <p> I have done my graduation with V.N.S.G.U University, Surat, Gujarat. I
                                            have explored my web experience there in many college projects.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>